In [1]:
import pandas as pd
import gspread

gc = gspread.oauth(
    credentials_filename='Credentials/credentials.json',
    authorized_user_filename='Credentials/authorized_user.json'
)

df = pd.DataFrame(gc.open('BUFFALO WAREHOUSE').worksheet('2023-08').get_all_records())

In [73]:
last_value = df.loc[len(df) - 1, 'DATE']

In [74]:
df2 = df[df['DATE'] == last_value]

In [75]:
stop_point = None
count = 0
for i, _, n in df2.loc[:, :'SCANNED INBOUND TRACKING'].itertuples(index=True, name=None):
    if not n == '':
        count = 0
    else:
        count += 1
        if count >= 10:
            stop_point = i
            break

df = df.loc[:stop_point]

In [76]:
df_test = df[df['NOTES'] == 'RCVD']

In [77]:
df_test

In [78]:
df_test = df_test.tail(1).index

,DATE,SCANNED INBOUND TRACKING,INBOUND USED,BOX ID,STATUS,NOTES,REFERENCE (ONLY USE IF THERE IS NO TRACKING)
1409,2023-08-12,420142139305520111410677871613,9305520111410677871613,NSHIP358613,,,
1410,2023-08-12,420142139400116901516812796484,9400116901516812796484,NSHIP358369,,,
1411,2023-08-12,92419999955156513031311801,92419999955156513031311801,NSHIP358285,,,
1412,2023-08-12,420142139305520111410679673000,9305520111410679673000,NSHIP358722,,,
1413,2023-08-12,420142139341920111410678245697,9341920111410678245697,NSHIP358621,,,
...,...,...,...,...,...,...,...
1475,2023-08-12,TBA308127657972,TBA308127657972,NSHIP358751,,,
1476,2023-08-12,TBA308130699940,TBA308130699940,NSHIP358761,,,
1477,2023-08-12,TBA308132140068,TBA308132140068,NSHIP358758,,,
1478,2023-08-12,TBA308127679609,TBA308127679609,NSHIP358756,,,
1479,2023-08-12,TBA308136521510,TBA308136521510,NSHIP358785,,,

In [64]:
df_use = df.loc[df_test[0] + 1:]

In [65]:
df_use

,DATE,SCANNED INBOUND TRACKING,INBOUND USED,BOX ID,STATUS,NOTES,REFERENCE (ONLY USE IF THERE IS NO TRACKING)
1461,2023-08-12,TBA308138909968,TBA308138909968,NSHIP358788,,RCVD,
1469,2023-08-12,TBA308103872314,TBA308103872314,NSHIP358531,,RCVD,

In [66]:
stop_point2 = 0
count = 0
last_value_not_empty = 0
for index, _, inbound in df_use.loc[:, :'SCANNED INBOUND TRACKING'].itertuples(index=True, name=None):
    if not inbound == '':
        count = 0
        last_value_not_empty = index
    else:
        count += 1
        if count >= 5:
            break

In [67]:
df_nuevo = df_use.loc[:last_value_not_empty]

1469

In [68]:
df_nuevo = df_nuevo.loc[:, 'INBOUND USED':'BOX ID']

In [69]:
df_nuevo

         INBOUND USED       BOX ID
1470  TBA308117825193  NSHIP358739
1471  TBA308135038634  NSHIP358774
1472  TBA308119291991  NSHIP358660
1473  TBA308103788003  NSHIP358552
1474  TBA308135256464  NSHIP358764
1475  TBA308127657972  NSHIP358751
1476  TBA308130699940  NSHIP358761
1477  TBA308132140068  NSHIP358758
1478  TBA308127679609  NSHIP358756
1479  TBA308136521510  NSHIP358785

In [70]:
lista1, lista2 = df_nuevo['INBOUND USED'].tolist(), df_nuevo['BOX ID'].tolist()

In [71]:
lista1

['TBA308117825193',
 'TBA308135038634',
 'TBA308119291991',
 'TBA308103788003',
 'TBA308135256464',
 'TBA308127657972',
 'TBA308130699940',
 'TBA308132140068',
 'TBA308127679609',
 'TBA308136521510']

In [72]:
lista2

['NSHIP358739',
 'NSHIP358774',
 'NSHIP358660',
 'NSHIP358552',
 'NSHIP358764',
 'NSHIP358751',
 'NSHIP358761',
 'NSHIP358758',
 'NSHIP358756',
 'NSHIP358785']